<?xml version="1.0" encoding="UTF-8"?>

<suite name="OrangeHRMSuite" parallel="tests" thread-count="2">

    <!-- Chrome Execution -->
    <test name="ChromeTest">
    
        <parameter name="browser" value="chrome"/>
    
        <classes>
            <class name="test.DummyTest"/>
            <class name="test.DummyTest1"/>
            <class name="test.LoginPageTest"/>
            <class name="test.HomePageTest"/>
        </classes>

    </test>

    <!-- Edge Execution (Disabled as Microsoft Edge is not installed on Mac)
    <test name="EdgeTest">
    
        <parameter name="browser" value="edge"/>
    
        <classes>
            <class name="test.DummyTest"/>
            <class name="test.DummyTest1"/>
            <class name="test.LoginPageTest"/>
            <class name="test.HomePageTest"/>
        </classes>

    </test>
    -->

</suite>